[submodule "submodules/dracula-mintty"]
	path = submodules/dracula-mintty
	url = https://github.com/dracula/mintty.git
[submodule "submodules/dracula-zsh"]
	path = submodules/dracula-zsh
	url = https://github.com/dracula/zsh.git
[submodule "submodules/dracula-xresources"]
	path = submodules/dracula-xresources
	url = https://github.com/dracula/xresources.git
[submodule "submodules/nord-tmux"]
	path = submodules/nord-tmux
	url = git@github.com:arcticicestudio/nord-tmux.git
[submodule "submodules/nord-vim"]
	path = submodules/nord-vim
	url = git@github.com:arcticicestudio/nord-vim.git
[submodule "submodules/nord-dircolors"]
	path = submodules/nord-dircolors
	url = git@github.com:arcticicestudio/nord-dircolors.git
[submodule "submodules/nord-konsole"]
	path = submodules/nord-konsole
	url = git@github.com:arcticicestudio/nord-konsole.git
[submodule "submodules/nord-xresources"]
	path = submodules/nord-xresources
	url = git@github.com:arcticicestudio/nord-xresources.git
[submodule "submodules/nord-alacritty"]
	path = submodules/nord-alacritty
	url = git@github.com:arcticicestudio/nord-alacritty.git
[submodule "kitty/nord-kitty"]
	path = kitty/nord-kitty
	url = https://github.com/connorholyday/nord-kitty
[submodule "kitty/catppuccin-kitty"]
	path = kitty/catppuccin-kitty
	url = https://github.com/catppuccin/kitty.git
