[submodule "submodules/dracula-mintty"]
	path = submodules/dracula-mintty
	url = https://github.com/dracula/mintty.git
[submodule "submodules/dracula-zsh"]
	path = submodules/dracula-zsh
	url = https://github.com/dracula/zsh.git
[submodule "submodules/dracula-xresources"]
	path = submodules/dracula-xresources
	url = https://github.com/dracula/xresources.git
