# Vim swap and undo files
*.un~
*.swp

# Ignore compiled Python files
*.pyc

# Ignore ipython databases and history
ipython/*/db/
ipython/*/static/
ipython/*/history.sqlite
ipython/*/security/*

# Remove vim .netrwhist
*/.netrwhist

neovim/rplugin.vim

# Vim tags
**/tags
# Vim pluggins
vim/plugged

# Binary spell files
neovim/spell/en.utf-8.add.spl 
vim/spell/en.utf-8.add.spl 
