# Vim swap and undo files
*.un~
*.swp

# Ignore compiled Python files
*.pyc

# Ignore ipython databases and history
ipython/*/db/
ipython/*/static/
ipython/*/history.sqlite

# Remove vim .netrwhist
vim/.netrwhist

# Vim tags
tags
