snippet article
@article{${1},
  author  = {${2}}, 
  title   = {${3}},
  journal = {${4}},
  year    = ${5},
  number  = ${6},
  volume  = ${7},
  pages   = {${8}--${9}},
  month   = ${10},
  doi	  = ${11}
}
endsnippet
