##################
# BEAMER SUPPORT #
##################

snippet "f(rame)?" "begin{frame} / end{frame}" br
\begin{frame}{${1:title}}
$2
\end{frame}
endsnippet

snippet "c(olumns)?" "begin{columns} / end{columns}" br
\begin{columns}
\begin{column}{${1:width}}
$3
\end{column}
\begin{column}{${2:width}}
$4
\end{column}
\end{columns}
endsnippet
